# windows下的虚拟环境
.venv/
pyproject.toml
.python-version
uv.lock

# 原始数据
data/

# 模型
models/colbertv2.0/
models/colpaligemma-3b-mix-448-base/
models/colpali/
models/opt-2.7b/
models/Qwen2-VL-7B-Instruct/

# 输出文件
outputs/

# 临时文件
tmp/

__pycache__/

.ragatouille/

# cursor

# idea
.idea/